*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat,"Helvetica Neue",Helvetica;
}
.row{
    display: flex;
    justify-content: center;
}
.pomoHeader{
    font-weight:3em;
}